@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');



.footer-credit {
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(230, 211, 211);
    letter-spacing: 3px;
    background-color: #0d131c;
    padding: 1rem;
    transition: 0.2s ease-in-out;
}

.footer-credit:hover {
    color: rgb(250, 245, 245);
}

.footer {
    margin-top: 2rem;
    width: 35%;
    margin: auto;
    height: 50px;
    position: relative;
}

.social-mediaa {
    color: white;
   
    display: flex;
    flex-direction: column;
    background-color: #0d131c;
    padding-right: 0.5rem;
    z-index: 100;
    display: none;
  }

  .social-mediaaa {
    display: none;
  }

@media (max-width: 768px) {
    .footer {
        margin-top: 2rem;
        width: 35%;
        margin: auto;
        height: 50px;
        display: none;
        z-index: 1000000000;
    }

    .social-mediaaa {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #141936;
        z-index: 1000000000;
        display: block;
        text-align: center;
      }

      .social-mediaaa > li {
        transition: 0.2s ease-in-out;
        
        
      }

      .social-mediaaa > li > a:hover {
        color:#cebcbc;
      }

      .githubb {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 1.9rem;
        color: white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      }

      .githubb:hover {
        color:rgb(207, 186, 186);
      }

   
}

