@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Karla&display=swap');

.logo {
    font-family: 'Titillium Web', sans-serif;
    color: #fcfcfc;
    z-index: 1000;
    letter-spacing: 10px;
}

.navbar {
    height: 120px;
    background-color: #141936;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.listItem {
    font-family: 'Titillium Web', sans-serif;
    color: #fcfcfc;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.listItem::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #fcfcfc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 200ms ease-in;
    display: flex;
    justify-content: center;
  }
  
  .listItem:hover::after {
            transform: scaleX(1);
            transform-origin: left;
  }

.listItemFirst {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b7179;
    cursor: pointer;
    font-weight: 700;
    margin-left: 0.7rem;
    margin-bottom: 2rem;
    display: none;
}

.listItemLast {
    font-family: 'Titillium Web', sans-serif;
    color: #fcfcfc;
    cursor: pointer;
    background-color: #0d131c;
    padding: 0.5rem;
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    transition: 0.2s ease-in-out;
    border: 1px solid #192333
}

  
  .listItemLast:hover {
    background-color: #d8c1c1;
  }

.listItem:hover {
    color:#ffff;
}

.burger {
   width: 30px;
   height: auto;
   display: none;
}

.download {
    z-index: 10;
    color: #d8c1c1;
    position: absolute;
    right: 6.4rem;
    top: 1.4rem;
    height: 27px;
    width: 27px;
    transition: 0.2s ease-in-out;
}

.download:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {

    .burger {
        width: 30px;
        height: auto;
        display: block;
        z-index: 1000;
        margin-right: 2rem;
        cursor: pointer;
     }

    .logo {
        font-family: 'Baloo 2', cursive;
        color: #00122C;
        z-index: 1000;
        margin-left: 3rem;
    }

    .navbar {
        height: 70px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0.1px 5px 1px rgb(173, 158, 158);
        z-index: 10000;
        width: 100%;
    }

    .list {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100vh;
        position: fixed;
        overflow: scroll;
        background: #f0f3f7;
        padding: 40px;
        width: 100%;
        z-index: 10;
        transform: translateY(-700px);
        transition: 0.5s ease-in-out;
    }

    .listItem {
        font-family: 'Baloo 2', cursive;
        font-size: 2.3rem;
        color: #00122C;
        cursor: pointer;
        padding: 10px;
    }

    .listItemFirst {
        font-family: Arial, Helvetica, sans-serif;
        color: #6b7179;
        cursor: pointer;
        font-weight: 700;
        margin-left: 0.7rem;
        margin-bottom: 1rem;
        display: block;
        padding-top: 5rem;
    }

    .footer {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: burlywood;
        padding: 2rem;
    }

    .media {
        margin-bottom: 5rem;
        width: 100px;
        height: auto;
        margin: auto;
    }

}

@media (max-width: 1000px) {
    .list {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
}
