@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #141936;
}

.mainContainer {
  max-width: 1150px;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.mt-xl {
  margin-top: 5rem
}

.mt-xxl {
  margin-top: 6rem
}

.mt-xxxl {
  margin-top: 7rem
}

img {
  width: 50px;
  height: auto;
}

.BorderBottom {
  border-bottom: 1px solid white;
  margin: 5rem;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#man {
  transform: scale(5);
  animation: move 1s ease-in-out;
}

@keyframes move {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 768px) {

  .BorderBottom {
    border-bottom: 1px solid white;
    margin: 3rem;
    width: 800px;
  }

  
}

